{% extends "layout.html" %}
{% block body %}
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OU_5XaVULgw" allowfullscreen></iframe>
</div>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RFfgDKbluQQ" allowfullscreen></iframe>
</div>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oqH-Q0Zytm0" allowfullscreen></iframe>
</div>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VsXhn3TyNnY" allowfullscreen></iframe>
</div>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gqa6w9ZD2mQ" allowfullscreen></iframe>
</div>
{% endblock %}
